* { box-sizing: border-box; }

html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.52), rgba(0,0,0,.35)),
    url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* layout */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: 
    linear-gradient(#836db2, #b892c1);
  border-bottom: 1px solid rgb(240, 224, 224);
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

/* brand */
.logo {
  color: #f5eff5;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-shadow: 0 2px 8px rgba(0,0,0,.15);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav a {
  color: #4c404e;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 30px;
  transition: transform .2s ease, box-shadow .2s ease, background .2s ease;
}

.nav a:hover {
  background: rgba(255,255,255,.18);
  color: aliceblue;
  backdrop-filter: blur(6px);
  transform: translateY(-2px);
  box-shadow:
    0 6px 18px rgba(0,0,0,.15),
    0 0 0 1px rgba(255,255,255,.35);
}

/* main center */
.main{
  min-height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  padding: 24px;
}

.btn-container{
  text-align: center;
  padding: 40px;
  background: rgba(142, 101, 101, 0.312);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,.4);
  max-width: 820px;
  width: 100%;
}

.title{
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  color: #fff;
}


.buttons{
  margin-top: 30px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn{
  min-width: 200px;
  padding: 14px 20px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  transition: transform .15s ease, box-shadow .15s ease;
}

.btn-F{
  background: #6e88b9;
  color: #fff;
  box-shadow: 0 10px 20px rgba(216, 202, 202, 0.45);
}

.btn-S{
  background: #fd97ff;
  color: #fff;
  box-shadow: 0 10px 20px rgba(216, 202, 202, 0.45);
}

.btn:hover{ transform: translateY(-3px); }
.btn:active{ transform: translateY(0); }
